@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

.root {
  padding: $ANT-spacing-24;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.no-margin {
	margin: 0;
}

.component-wrapper {
  padding: $ANT-spacing-24;
  background-color: $color-white;
  margin-bottom: $ANT-spacing-24;
}


body {
	font-family: 'Source Sans Pro', sans-serif;
	background: linear-gradient(-45deg, $color-background-1, $color-background-2, $color-background-3, $color-background-4);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}